<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    #keyframe_message {
      width: 100%;
      padding: 50px 0;
      text-align: center;
      background-color: lightblue;
      margin-top: 20px;
      display: none;
    }
  </style>
  <title>Base</title>
</head>

<body>
  <h1>Upload a Video Here </h1>
  <br>
  <form method="post" , enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit">
  </form>

  <p>
    {{message}}
  </p>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type=text/javascript>
        $(function() 
        {
          $('a#test').on('click', function(e) 
          {
            e.preventDefault()
            $.getJSON('/keyframe',
                function(data) 
                {
                  if(data.processed == "True")
                  {
                    document.getElementById("keyframe_message").style.display = "block";
                  }
              //do nothing
            });
            return false;
          });
        }); 

        $(function() 
        {
          $('a#showImage').on('click', function(e) 
          {
            e.preventDefault()
            $.getJSON('/showKFImages',
                function(data) 
                {
                  image_arr = data.image_arr
                  console.log(image_arr[0]);
                  for(let i = 0; i < image_arr.length; i++)
                  {
                    $('#img'+i).attr('src', image_arr[i]);
                    $('#img'+i).attr('width', 120);
                    $('#img'+i).attr('height', 80);
                  }
              //do nothing
            });
            return false;
          });
        }); 
</script>

  <div class='container'>
    <h1>Extrat KeyFrames</h1>
    <form>
      <a href=# id=test><button class='btn btn-default'>Extract KeyFrames</button></a>
    </form>

  </div>
  <br>
  <div id="keyframe_message">
    <p>
      KeyFrames Extracted Successfully...
    </p>
    <br>
    <h1>Extract KeyFrames</h1>
    <form>
      <a href=# id=showImage><button class='btn btn-default'>Extract KeyFrames</button></a>
    </form>
  </div>


  <div>
    <br>
    {% for i in range(1000) %}
  <img id="img{{i}}" src="" width="0" height="0">
  {% endfor %}
  </div>



</body>

</html>